
*********** Skills Css ***********

.skill {
    padding: 0 0 40px 0; 
    position: relative;
  }

  .skill .container {
  }

  .skill-bx {    
    background: #151515;
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -60px;
  }
  .skill h2 {
      font-size: 45px;
      font-weight: 700;
  }
  .skill h5 {
    padding-top: 20px;
    text-align: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
}
  .skill p {
      color: #B8B8B8;
      font-size: 18px;
      letter-spacing: 0.8px;
      line-height: 1.5em;
      margin: 14px 0 75px 0;
  }
  
  .skill-slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }
  .skill-slider .item {
    width: 100%;
    margin: 0 auto 15px auto;
  }
   
  .skill-slider .item svg {
    width: 100%;
    margin: 0 auto 15px auto;
  }
  
  .background-image-left {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -4;
  }

.item .star-rating {
  margin-left: 10px;
}

.item .star-rating .star {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background: url('/src/assets/img/star.png') no-repeat;
  background-size: contain;
  cursor: pointer;
}

.item .star-rating .star[data-rating='1'] {
  background-position: 0 0;
}

.item .star-rating .star[data-rating='2'] {
  background-position: 0 -20px;
}

.item .star-rating .star[data-rating='3'] {
  background-position: 0 -40px;
}

.item .star-rating .star[data-rating='4'] {
  background-position: 0 -60px;
}

.item .star-rating .star[data-rating='5'] {
  background-position: 0 -80px;
}

.img-icon {
  width: 80px;
  height: 80px;
}

.react-multiple-carousel__arrow--left {
  left: 0 !important;
  top: 60px !important;
}

.react-multiple-carousel__arrow--right {
  right: 0 !important;
  top: 60px !important;
}

.react-multi-carousel-item {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  align-items: center;
}